.avatar_list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  list-style: none;

  > li {
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 80px;
      height: 80px;
      display: block;
    }
    .delete_icon {
      display: none;
      align-items: center;
      justify-content: center;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      position: absolute;
      bottom: 0;
      i {
        color: white;
        cursor: pointer;
      }
    }
  }

  > li.no_avatar{
    opacity: 0.6;

    .delete_icon{
        opacity: 0;
      transition: all 0.3s;
        display: flex;
    }

    &:hover{
      .delete_icon{
        opacity: 1;
      }
    }
  }
}

.el-scrollbar {
  margin-bottom: 20px;
}

.el-scrollbar__wrap {
  overflow-x: hidden !important;
}