.add_article_actions{
  margin-bottom: 20px;
}
.el-drawer__body {
  position: relative;
}

.add_el_drawer_content {
   padding: 0 20px;

  .category_tags .el-collapse-item__content {
    display: flex;
    justify-content: space-between;

      .category {
    width: 40%;
  }

  .tags{
    width: 58%;
  }
  }

  .article_cover .el-collapse-item__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      width: 40%;

      img {
        width: 100%;
        height: 120px;
      }
    }
    .right {
      width: 58%;
      .el-select {
        width: 100%;
      }
    }
  }

  .can_choose_ .el-collapse-item__content{
    > div {
      display: block;
      margin-bottom: 10px;
    }
  }

  .article_btn_list{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
