@import "./pager";

.card {
  .title {
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px 20px 10px 20px;
    background-color: white;
    h2 {
      font-size: 20px;
    }
    > div {
      a {
        color: darkorange;
        font-size: 14px;

        &:hover {
          color: darkgreen;
        }
      }
    }
  }
  .body {
    border-radius: 0 0 5px 5px;
    padding: 10px 20px 20px 20px;
    background-color: white;
  }
}

#app {
  width: 100%;

  .main {
    width: 1200px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;

    > div > div {
      margin-bottom: 20px;
    }

    .left {
      width: 69%;

      .recommended_articles > .title {
        .switch_article_category {
          span {
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: all 0.3s;

            &:hover {
              color: darkgreen;
            }

            &[active] {
              color: darkorange;
            }
          }
        }
      }

      .recommended_articles > .body {
        padding: 0 20px;

        > ul {
          display: flex;
          flex-wrap: wrap;
          padding: 0;

          > li {
            width: 50%;
            box-sizing: border-box;
            display: flex;
            padding: 10px 0;
            transition: transform 0.3s, box-shadow 0.3s;

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
              border-right: 1px solid #f0eeee;
              padding: 10px 10px 10px 0;
            }

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6) {
              padding: 10px;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              border-bottom: 1px solid #f0eeee;
            }

            &:hover {
              transform: translateY(-5px);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .left {
              width: 40%;

              > div {
                width: 100%;
                overflow: hidden;
                height: 100px;
              }

              img {
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
                transition: all 0.3s;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

            .right {
              width: 60%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              box-sizing: border-box;
              padding-left: 10px;

              h2 {
                font-size: 18px;
              }

              a {
                color: #333333;

                &:hover {
                  color: #0e7e70;
                }
              }

              p {
                // single line cut
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              span {
                font-size: 14px;
                color: gray;
              }
            }
          }
        }
      }

      .all_articles > .body {
        background-color: transparent;
        padding: 0;

        > ul {
          width: 100%;
          padding: 0;
          margin: 0;

          > li {
            width: 100%;
            display: flex;
            background-color: white;
            margin-bottom: 15px;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s, box-shadow 0.3s;

            &:first-child {
              border-radius: 0 0 5px 5px;

              .left {
                padding: 10px 10px 20px 20px;
              }

              .right {
                padding: 10px 20px 20px 10px;
              }
            }

            &:hover {
              transform: translateY(-5px);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .left {
              width: 30%;
              box-sizing: border-box;
              padding: 20px 10px 20px 20px;

              > div {
                width: 100%;
                height: 150px;
                overflow: hidden;
                border-radius: 5px;
              }

              img {
                //margin-top: 10px;
                width: 100%;
                border-radius: 5px;
                transition: all 0.3s;
                height: 95%;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

            .right {
              width: 70%;
              padding: 10px 10px 20px 20px;
              position: relative;

              > h2 {
                margin-top: 10px;
                font-size: 23px;
                margin-bottom: 10px;
              }

              p {
                font-size: 16px;
                margin-bottom: 12px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .article_info {
                font-size: 14px;
                color: #555;

                > span {
                  font-size: 13px;
                  margin-right: 10px;

                  i {
                    margin-right: 5px;
                  }
                }
              }

              > a {
                width: 70px;
                height: 35px;
                position: absolute;
                right: 20px;
                bottom: 17px;
                color: white;
                font-size: 13px;
                background-color: seagreen;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 5px;
                cursor: pointer;
              }
            }

            .category_flag {
              position: absolute;
              top: 20px;
              right: -70px;
              width: 200px;
              height: 28px;
              font-size: 15px;
              background-color: #79a0f1;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: rotate(45deg);

              &[len="15"] {
                font-size: 12px;
              }

              &[len="12"] {
                font-size: 11px;
              }

              &[type="Recipes"] {
                background-color: #e5a5c7;
              }
              &[type="Nutrition"] {
                background-color: #87b685;
              }
              &[type="Other"] {
                background-color: #a6a6a6;
              }
              &[type="Food Reviews"] {
                background-color: #d2934b;
              }
            }
          }
        }
      }

      .hotList {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        overflow: hidden;

        .hot_icon{
          margin-bottom: -5px;
        }

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 20px;
          background-color: white;
          border-bottom: 1px solid whitesmoke;

          h2 {
            font-size: 20px;
            margin: 0;
          }

          > div {
            a {
              color: #0e7e70;;
              font-size: 16px;
              font-weight: bolder;
              text-decoration: none;

              &:hover {
                color: darkgreen;
              }
            }
          }
        }

        .body {
          padding: 10px 20px;

          .index {
            padding: 8px 0;
            border-bottom: 1px solid #f0f0f0;
            transition: background-color 0.3s;

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: #f5f5f5;
            }

            .item_icon{
              width: 24px;
              height: 24px;
              margin-right: 10px;
              margin-bottom: -5px;
            }

            a {
              font-weight: bold;
              text-decoration: none;
              padding-left: 10px;
              font-size: 16px;
              color: #333;
              display: block;
              transition: color 0.3s, padding-left 0.3s;

              &:hover {
                color: #0e7e70;
                padding-left: 15px; // Indent on hover for a dynamic effect
              }
            }
          }
        }
      }
    }

    .right {
      width: 30%;

      .my_card {
        padding: 20px;
        width: 100%;
        background-color: #b9ffeb;
        border-radius: 5px;
        margin-bottom: 20px;

        .title {
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          h3 {
            color: #2b542c;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.3em;
            margin-bottom: 10px;
          }

          h4 {
            color: var(--md_tag, #e0bb53);
            text-transform: uppercase;
            font-style: italic;
            font-weight: 700;
            font-size: 22px;
            letter-spacing: 0.2em;
          }

          img {
            position: absolute;
            right: 0;
            top: 0;
            height: 90px;
            width: 90px;
          }
        }

        .intro_me {
          align-items: center;
          width: 100%;
          border-radius: 5px;
          margin: 10px 0;
          overflow: hidden;
          transition: all 0.3s;
          cursor: pointer;

          img {
            width: 80%;
            margin-left: 10%;
          }

          &:hover {
            transform: scale(1.03);
          }
        }

        .footer {
          p {
            margin-bottom: 5px;
            color: #a7a7a7;

            span {
              color: #555555;
            }

            a {
              color: #ff9800;
            }
          }
        }
      }

      .advertisements > .body {
        padding: 0;
        background: none;

        > div {
          width: 94%;
          padding: 10px;
          background-color: white;
          margin-bottom: 20px;
          border-radius: 5px;

          &:first-child {
            border-radius: 0 0 5px 5px;
          }

          > a {
            width: 100%;
            height: 100%;
            display: block;
            overflow: hidden;

            img {
              width: 100%;
              transition: all 0.3s;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }

      .tags > .body {
        position: relative;

        ul {
          text-align: center;
          padding: 0;
          margin: 10px 0 0;
          display: flex;
          flex-wrap: wrap;

          // set five states of the animated box
          @keyframes animated_box {
            0% {
              left: 0;
              top: 0;
            }
            25% {
              left: calc(100% - 20px);
              top: 0;
            }
            50% {
              left: calc(100% - 20px);
              top: calc(100% - 20px);
            }
            75% {
              left: 0;
              top: calc(100% - 20px);
            }
            100% {
              left: 0;
              top: 0;
            }
          }

          &::before {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: "";
            background-color: darkseagreen;

            -webkit-animation-name: animated_box;
            animation-name: animated_box;
            -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
          }

          li {
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33.3%;
            height: 40px;
            box-sizing: border-box; // constrain the box to its border

            &:nth-child(6n+1),
            &:nth-child(6n+2),
            &:nth-child(6n+3) {
              // odd rows color
              background-color: #f5f5f5;
            }

            &:nth-child(3n+1),
            &:nth-child(3n+2) {
              border-right: 1px solid #f5f5f5;
            }

            i {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 18px;
              height: 16px;
              font-size: 9px;
              color: white;
              background-color: #ff9800;
              border-radius: 50%;
              margin-left: 3px;
            }
          }
        }
      }

      .site_info > .body {
        .item {
          margin-bottom: 10px;
        }

        .images {
          display: flex;
          margin-top: 10px;

          > div {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          img {
            height: 100px;
            border-radius: 5px;
          }
        }
      }

      .feedback > .body {
        .el-input,
        .el-textarea {
          margin-bottom: 10px;
        }

        .el-button {
          width: 100%;
        }
      }

      .links > .body {
        ul {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          li {
            display: flex;
            align-items: center;
            width: 50%;
            height: 40px;
          }
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
