@import "./pager";

.main{
  width: 1200px;

  .add_mood{
    width: 100%;
  }

  .mood {
    display: flex;
    margin-top: 40px;

    >.left {
      width: 90px;

      img{
        width: 70px;
        height: 70px;
        border-radius: 5px;
      }
    }

    >.right{
      width: calc(100% - 90px);
      background-color: white;
      border-radius: 5px;
      position: relative;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      padding: 10px 20px;

      &::before{
        content: '';
        display: block;
        position: absolute;
        left: -20px;
        top: 23px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent white transparent transparent;
      }

      .name{
        margin-bottom: 5px;
      }

      .content{
        margin-bottom: 5px;
      }

      .drawing {
        img{
          height: 130px;
          border-radius: 5px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }

      .info{
        font-size: 14px;
        display: flex;
        justify-content: space-between;

        .addr_img{
          height: 15px;
        }

        .addr_info {
          color: #0e7e70;
        }

        >.three > span{
          cursor: pointer;
          margin-left: 10px;
        }

        .delete {
          color: #dd6161;
        }
      }

      .sub_comment_list {
        display: none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;

        li{
          display: flex;
          margin-top: 15px;

          .left {
            width: 70px;

            img {
              width: 50px;
              height: 50px;
              border: 1px solid #f0eeee;
              border-radius: 5px;
            }
          }

          .right{
            width: calc(100% - 70px);
            padding: 10px;

          }
        }
      }

      .rep_mood{
            width: 100%;
          }
    }
  }

  .pager{
    margin-top: 20px;
  }

  .add_mood_content{
    > div{
      margin-bottom: 20px;

      > div, > ul{
      margin-top: 5px;
      }

      .avatar_list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        > li {
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-bottom: 10px;

          .el-radio {
            display: flex;
          }
        }
      }

      img {
        height: 50px;
        width: 50px;
        border-radius: 5px;
      }
    }

    .show_drawing{
      img {
        width: 20%;
        height: 20%;
        margin-right: 10px;
      }
    }
  }
}