.article{
  width: 1200px;

  .article_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    h2{
      margin: 10px 0;
    }

    p{
      font-size: 14px;
      color: #333333;
      span{
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
    }

    >div{
      margin: 10px 0;
      i{
        font-size: 14px;
        margin-right: 5px;
        color: #0e7e70;
        &:first-child{
          color: #333333;
        }
      }
    }
  }

  .article_content{
    margin-top: 1px;
    min-height: 200px;
    background-color: white;
  }

  .comment_submit{
    margin-top: 20px;
    background-color: white;
    min-height: 200px;
    padding: 20px 20px 10px 20px;

    .title{
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #f0eeee;
      color: #555555;
      position: relative;
      &::after{
        display: block;
        content: '';
        width: 300px;
        height: 1px;
        background-color: #333333;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .body{
      width: calc(100% - 40px);
      height: 150px;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 5px;
      box-shadow: inset 2px 2px 6px rgb(0 0 0 / 8%);
      position: relative;

      textarea{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        resize: none;

        &:focus{
          border: none;
          outline: none;
        }
      }

      >button{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        background-color: #0e7e70;
        color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;

      }
    }

    .footer{
      font-size: 14px;
      color: #555555;
      margin-top: 10px;

      p > span{
        color: #0e7e70;
        font-weight: bold;
      }
    }
  }

  .comment_list{
    margin-top: 20px;
    ul{
      list-style: none;
    }
    >ul{
      >li{
        width: 100%;
        display: flex;
        margin-bottom: 20px;

         > .left{
          width: 70px;

           img{
            width: 50px;
            border-radius: 5px;
            transition: all 0.3s;

            &:hover{
              transform: scale(1.1);
            }
          }
        }

        .right{
          width: calc(100% - 70px);
          background-color: white;
          border-radius: 5px;
          position: relative;
          padding: 10px 20px;
          box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

          &::after{
            display: block;
            content: '';
            position: absolute;
            left: -20px;
            top: 15px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-right-color: white;
          }

          .comment_content{
            margin: 5px 0;

            img{
              height: 120px;
              width: 170px;
              margin-top: 5px;
              margin-right: 10px;
              border-radius: 5px;
              box-shadow: 0 0 5px rgba(0,0,0,0.2);
            }
          }

          .comment_info{
            display: flex;
            justify-content: space-between;
            font-size: 14px;

            > div > span{
              cursor: pointer;
              margin-right: 5px;
              &:last-child{
                margin-right: 0;
              }
            }
          }

          .delete{
              color: red;
            cursor: pointer;
            }

          .sub_comment_list{
            margin-top: 10px;

            > div {
              display: flex;
              margin-bottom: 12px;

              .left {
                width: 60px;

                img {
                  width: 40px;
                  border-radius: 5px;
                  transition: all 0.3s;

                &:hover{
                  transform: scale(1.1);
                  }
                }
              }

              .right {
                width: calc(100% - 60px);

                .sub_comment_content{
                  margin: 5px 0;
                }

                .sub_comment_info {
                  display: flex;
                  justify-content: space-between;
                  font-size: 14px;

                  > div > span{
                    cursor: pointer;
                    margin-right: 4px;
                    &:last-child{
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}