@import "./pager";

.card{

  .title{
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px 20px 10px 20px;
    background-color: white;
    h2{
      font-size: 20px;
    }
    >div{
      a{
        color: darkorange;
        font-size: 14px;
      }
    }
  }
  .body{
    border-radius: 0 0 5px 5px;
    padding: 10px 20px 20px 20px;
    background-color: white;
  }
}

#app{

  width: 100%;

  .main {
      width: 1200px;
      min-height: 200px;
      display: flex;
      justify-content: space-between;

      > div > div {
        margin-bottom: 20px;
      }

      .left {
        width: 69%;

        .recommended_articles > .title{
          .switch_article_category{

            span{
              cursor: pointer;
              font-size: 16px;
              font-weight: bold;
              transition: all 0.3s;

              &:hover{
                color: darkgreen;
              }

              &[active]{
                color: darkorange;
              }
            }
          }
        }

        .recommended_articles > .body {
          padding: 0 20px;

          > ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            > li {
              width: 50%;
              box-sizing: border-box;
              display: flex;
              padding: 10px 0;

              &:nth-child(1), &:nth-child(3), &:nth-child(5) {
                border-right: 1px solid #f0eeee;
                padding: 10px 10px 10px 0;

              }

              &:nth-child(2), &:nth-child(4), &:nth-child(6) {
                padding: 10px;
              }

              &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                border-bottom: 1px solid #f0eeee;
              }

              .left {
                width: 40%;

                > div {
                  width: 100%;
                  overflow: hidden;
                  height: 100px;
                }

                img {
                  height: 100%;
                  object-fit: cover;
                  transition: all 0.3s;

                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }

              .right {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-sizing: border-box;
                padding-left: 10px;

                h2 {
                  font-size: 20px;
                }

                p { // single line cut
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                span {
                  font-size: 14px;
                  color: gray;
                }
              }
            }
          }

        }

        .all_articles > .body {
          background-color: transparent;
          padding: 0;

          > ul {
            width: 100%;
            padding: 0;
            margin: 0;

            > li {
              width: 100%;
              display: flex;
              background-color: white;
              margin-bottom: 20px;
              border-radius: 5px;

              &:first-child {
                border-radius: 0 0 5px 5px;

                .left {
                  padding: 10px 10px 20px 20px;
                }

                .right {
                  padding: 10px 20px 20px 10px;
                }
              }

              .left {
                width: 30%;
                box-sizing: border-box;
                padding: 20px 10px 20px 20px;

                > div {
                  width: 100%;
                  height: 150px;
                  overflow: hidden;
                  border-radius: 5px;
                }

                img {
                  width: 100%;

                  &:hover {
                    transform: scale(1.1);
                    transition: all 0.3s;
                  }
                }
              }

              .right {
                width: 70%;
                padding: 10px 10px 20px 20px;
                position: relative;

                > h2 {
                  font-size: 23px;
                  margin-bottom: 10px;
                }

                p {
                  font-size: 16px;
                  margin-bottom: 12px;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .article_info {
                  font-size: 14px;
                  color: #555;

                  > span {
                    font-size: 13px;
                    margin-right: 10px;

                    i {
                      margin-right: 5px;
                    }
                  }
                }

                > a {
                  width: 70px;
                  height: 35px;
                  position: absolute;
                  right: 20px;
                  bottom: 17px;
                  color: white;
                  font-size: 13px;

                  background-color: seagreen;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .right {
        width: 30%;

        .advertisements >.body{
          padding: 0;
          background: none;

          > div{
            width: 94%;
            padding: 10px;
            background-color: white;
            margin-bottom: 20px;
            border-radius: 5px;

            &:first-child{
              border-radius: 0 0 5px 5px;
            }

            >a{
              width: 100%;
              height: 100%;
              display: block;
              overflow: hidden;

              img{
                width: 100%;
                transition: all 0.3s;

                &:hover{
                  transform: scale(1.1);
                }
              }
            }
          }

        }

        .tags > .body {
          position: relative;

          ul {
            padding: 0;
            margin: 10px 0 0;
            display: flex;
            flex-wrap: wrap;
            // set five states of the animated box
            @keyframes animated_box {
              0% {
                left: 0;
                top: 0;
              }
              25% {
                left: calc(100% - 20px);
                top: 0;
              }
              50% {
                left: calc(100% - 20px);
                top: calc(100% - 20px);
              }
              75% {
                left: 0;
                top: calc(100% - 20px);
              }
              100% {
                left: 0;
                top: 0;
              }
            }

            &::before {
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              content: "";
              background-color: darkseagreen;

              -webkit-animation-name: animated_box;
              animation-name: animated_box;
              -webkit-animation-duration: 5s;
              animation-duration: 5s;
              -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
            }

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 33.3%;
              height: 40px;
              box-sizing: border-box; // constrain the box to its border

              &:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+3) { // odd rows color
                background-color: #f5f5f5;
              }

              &:nth-child(3n+1), &:nth-child(3n+2) {
                border-right: 1px solid #f5f5f5;
              }
            }
          }
        }
      }
    }

}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

