ul.pager {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
ul.pager .last_page, ul.pager .next_page {
  width: 80px !important;
}
ul.pager > li {
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  border-radius: 5px !important;
  transition: all 0.3s !important;
  margin-right: 10px;
}
ul.pager > li:last-child {
  margin-right: 0;
}
ul.pager > li a {
  display: inline-flex !important;
  height: 100%;
  width: 100%;
  color: #0e7e70;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
ul.pager > li:hover {
  background-color: #21a998 !important;
}
ul.pager > li:hover a {
  color: white;
}
ul.pager > li.active {
  background-color: #0e7e70 !important;
}
ul.pager > li.active a {
  color: white;
}

.card .title {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px 20px 10px 20px;
  background-color: white;
}
.card .title h2 {
  font-size: 20px;
}
.card .title > div a {
  color: darkorange;
  font-size: 14px;
}
.card .body {
  border-radius: 0 0 5px 5px;
  padding: 10px 20px 20px 20px;
  background-color: white;
}

#app {
  width: 100%;
}
#app .main {
  width: 1200px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
}
#app .main > div > div {
  margin-bottom: 20px;
}
#app .main .left {
  width: 69%;
}
#app .main .left .recommended_articles > .title .switch_article_category span {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
}
#app .main .left .recommended_articles > .title .switch_article_category span:hover {
  color: darkgreen;
}
#app .main .left .recommended_articles > .title .switch_article_category span[active] {
  color: darkorange;
}
#app .main .left .recommended_articles > .body {
  padding: 0 20px;
}
#app .main .left .recommended_articles > .body > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
#app .main .left .recommended_articles > .body > ul > li {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  padding: 10px 0;
}
#app .main .left .recommended_articles > .body > ul > li:nth-child(1), #app .main .left .recommended_articles > .body > ul > li:nth-child(3), #app .main .left .recommended_articles > .body > ul > li:nth-child(5) {
  border-right: 1px solid #f0eeee;
  padding: 10px 10px 10px 0;
}
#app .main .left .recommended_articles > .body > ul > li:nth-child(2), #app .main .left .recommended_articles > .body > ul > li:nth-child(4), #app .main .left .recommended_articles > .body > ul > li:nth-child(6) {
  padding: 10px;
}
#app .main .left .recommended_articles > .body > ul > li:nth-child(1), #app .main .left .recommended_articles > .body > ul > li:nth-child(2), #app .main .left .recommended_articles > .body > ul > li:nth-child(3), #app .main .left .recommended_articles > .body > ul > li:nth-child(4) {
  border-bottom: 1px solid #f0eeee;
}
#app .main .left .recommended_articles > .body > ul > li .left {
  width: 40%;
}
#app .main .left .recommended_articles > .body > ul > li .left > div {
  width: 100%;
  overflow: hidden;
  height: 100px;
}
#app .main .left .recommended_articles > .body > ul > li .left img {
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
#app .main .left .recommended_articles > .body > ul > li .left img:hover {
  transform: scale(1.1);
}
#app .main .left .recommended_articles > .body > ul > li .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
}
#app .main .left .recommended_articles > .body > ul > li .right h2 {
  font-size: 20px;
}
#app .main .left .recommended_articles > .body > ul > li .right p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app .main .left .recommended_articles > .body > ul > li .right span {
  font-size: 14px;
  color: gray;
}
#app .main .left .all_articles > .body {
  background-color: transparent;
  padding: 0;
}
#app .main .left .all_articles > .body > ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
#app .main .left .all_articles > .body > ul > li {
  width: 100%;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
#app .main .left .all_articles > .body > ul > li:first-child {
  border-radius: 0 0 5px 5px;
}
#app .main .left .all_articles > .body > ul > li:first-child .left {
  padding: 10px 10px 20px 20px;
}
#app .main .left .all_articles > .body > ul > li:first-child .right {
  padding: 10px 20px 20px 10px;
}
#app .main .left .all_articles > .body > ul > li .left {
  width: 30%;
  box-sizing: border-box;
  padding: 20px 10px 20px 20px;
}
#app .main .left .all_articles > .body > ul > li .left > div {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}
#app .main .left .all_articles > .body > ul > li .left img {
  width: 100%;
}
#app .main .left .all_articles > .body > ul > li .left img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
#app .main .left .all_articles > .body > ul > li .right {
  width: 70%;
  padding: 10px 10px 20px 20px;
  position: relative;
}
#app .main .left .all_articles > .body > ul > li .right > h2 {
  font-size: 23px;
  margin-bottom: 10px;
}
#app .main .left .all_articles > .body > ul > li .right p {
  font-size: 16px;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app .main .left .all_articles > .body > ul > li .right .article_info {
  font-size: 14px;
  color: #555;
}
#app .main .left .all_articles > .body > ul > li .right .article_info > span {
  font-size: 13px;
  margin-right: 10px;
}
#app .main .left .all_articles > .body > ul > li .right .article_info > span i {
  margin-right: 5px;
}
#app .main .left .all_articles > .body > ul > li .right > a {
  width: 70px;
  height: 35px;
  position: absolute;
  right: 20px;
  bottom: 17px;
  color: white;
  font-size: 13px;
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#app .main .left .all_articles > .body > ul > li .category_flag {
  position: absolute;
  top: 20px;
  right: -70px;
  width: 200px;
  height: 28px;
  font-size: 15px;
  background-color: #79a0f1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}
#app .main .left .all_articles > .body > ul > li .category_flag[len="15"] {
  font-size: 12px;
}
#app .main .left .all_articles > .body > ul > li .category_flag[len="12"] {
  font-size: 11px;
}
#app .main .left .all_articles > .body > ul > li .category_flag[type=Recipes] {
  background-color: #e5a5c7;
}
#app .main .left .all_articles > .body > ul > li .category_flag[type=Nutrition] {
  background-color: #87b685;
}
#app .main .left .all_articles > .body > ul > li .category_flag[type=Other] {
  background-color: #a6a6a6;
}
#app .main .left .all_articles > .body > ul > li .category_flag[type="Food Reviews"] {
  background-color: #d2934b;
}
#app .main .right {
  width: 30%;
}
#app .main .right .my_card {
  padding: 20px;
  width: 100%;
  background-color: #b9ffeb;
  border-radius: 5px;
  margin-bottom: 20px;
}
#app .main .right .my_card .title {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#app .main .right .my_card .title h3 {
  color: #2b542c;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}
#app .main .right .my_card .title h4 {
  color: var(--md_tag, #e0bb53);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.2em;
}
#app .main .right .my_card .title img {
  position: absolute;
  right: 0;
  top: 0;
  height: 90px;
  width: 90px;
}
#app .main .right .my_card .intro_me {
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}
#app .main .right .my_card .intro_me img {
  width: 80%;
  margin-left: 10%;
}
#app .main .right .my_card .intro_me:hover {
  transform: scale(1.03);
}
#app .main .right .my_card .footer p {
  margin-bottom: 5px;
  color: #A7A7A7;
}
#app .main .right .my_card .footer p span {
  color: #555555;
}
#app .main .right .my_card .footer p a {
  color: #ff9800;
}
#app .main .right .advertisements > .body {
  padding: 0;
  background: none;
}
#app .main .right .advertisements > .body > div {
  width: 94%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}
#app .main .right .advertisements > .body > div:first-child {
  border-radius: 0 0 5px 5px;
}
#app .main .right .advertisements > .body > div > a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
#app .main .right .advertisements > .body > div > a img {
  width: 100%;
  transition: all 0.3s;
}
#app .main .right .advertisements > .body > div > a img:hover {
  transform: scale(1.1);
}
#app .main .right .tags > .body {
  position: relative;
}
#app .main .right .tags > .body ul {
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}
@keyframes animated_box {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: calc(100% - 20px);
    top: 0;
  }
  50% {
    left: calc(100% - 20px);
    top: calc(100% - 20px);
  }
  75% {
    left: 0;
    top: calc(100% - 20px);
  }
  100% {
    left: 0;
    top: 0;
  }
}
#app .main .right .tags > .body ul::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  background-color: darkseagreen;
  -webkit-animation-name: animated_box;
  animation-name: animated_box;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#app .main .right .tags > .body ul li {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 40px;
  box-sizing: border-box;
}
#app .main .right .tags > .body ul li:nth-child(6n+1), #app .main .right .tags > .body ul li:nth-child(6n+2), #app .main .right .tags > .body ul li:nth-child(6n+3) {
  background-color: #f5f5f5;
}
#app .main .right .tags > .body ul li:nth-child(3n+1), #app .main .right .tags > .body ul li:nth-child(3n+2) {
  border-right: 1px solid #f5f5f5;
}
#app .main .right .tags > .body ul li i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 16px;
  font-size: 9px;
  color: white;
  background-color: #ff9800;
  border-radius: 50%;
  margin-left: 3px;
}
#app .main .right .site_info > .body .item {
  margin-bottom: 10px;
}
#app .main .right .site_info > .body .images {
  display: flex;
  margin-top: 10px;
}
#app .main .right .site_info > .body .images > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app .main .right .site_info > .body .images img {
  height: 100px;
  border-radius: 5px;
}
#app .main .right .feedback > .body .el-input, #app .main .right .feedback > .body .el-textarea {
  margin-bottom: 10px;
}
#app .main .right .feedback > .body .el-button {
  width: 100%;
}
#app .main .right .links > .body ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#app .main .right .links > .body ul li {
  display: flex;
  align-items: center;
  width: 50%;
  height: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
