//.pager {
//  list-style: none;
//  width: 100%;
//  display: flex;
//  justify-content: center;
//
//  >li {
//    display: inline-flex;
//    width: 30px;
//    height: 30px;
//    background-color: #808595;
//    border-radius: 5px;
//    justify-content: center;
//    align-items: center;
//    transition: all 0.3s;
//    padding: 0 10px;
//    margin-right: 10px;
//
//    &:last-child{
//      margin-right: 0;
//    }
//
//    a {
//
//    }
//  }
//
//   > li.active{
//    background-color: #0e7e70;
//
//     a {
//      color: white;
//    }
//  }
//}

ul.pager {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;

    .last_page, .next_page{
      width: 80px !important;
    }

    > li {
        width: 40px !important;
        height: 40px !important;
        background-color: white;
        border-radius: 5px !important;
        transition: all 0.3s !important;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

      a {
        display: inline-flex !important;
        height: 100%;
        width: 100%;
        color: #0e7e70;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
      }

      &:hover{
        background-color: #21a998 !important;
        a {
          color: white;
        }
      }

    }

    > li.active {
        background-color: #0e7e70 !important;

        a {
            color: white;
        }
    }
}
