{% extends 'index.html' %}
{% load my_tag %}
{% block css %}
    <link rel="stylesheet" href="/static/editor-md/css/editormd.css"/>
    <link rel="stylesheet" href="/static/resources/css/article.css">
{% endblock %}

{% block banner %}
    {% banner 'article' article %}
{% endblock %}

{% block main %}
    <div class="article">
        <div class="slider_bar">
            <div class="title">
                Article Directory
            </div>
            <div class="body">
                <p class="H1">How to make hamburger at home? How to make hamburger at home? How to make hamburger at home?</p>
                <p class="H2">Let's eat some healthy salads!</p>
                <p class="H3">h3 title</p>
                <p class="H4">h4 title</p>
                <p class="H5">h5 title</p>
            </div>
        </div>
        <div class="article_actions">
            <div class="item">
                <i class="fas fa-thumbs-up" @click="article_digg($event, '{{ article.nid }}')"></i>
                <span>{{ article.digg_count }}</span>
            </div>
            <div class="item">
                <i class="fas fa-star" @click="article_collects($event, '{{ article.nid }}')"></i>
                <span>{{ article.collects_count }}></span>
            </div>
            <div class="item">
                <i class="fa fa-angle-double-up"></i>
            </div>
        </div>
        <div class="article_title">
            <h2>{{ article.title }}
            <!-- 后续可修改！！！设置权限 只有超级管理员可以进行文章的编辑修改 -->
                {% if request.user.is_superuser %}
                    <a href="/backend/edit_article/{{ article.nid }}/"><i class="fas fa-edit"></i></a>
                {% endif %}
            </h2>
            <p>
                <span>Post Time: <i>{{ article.create_date|date:'m/d/Y' }}</i></span>
                <span>Author: <i>{{ article.author }}</i> </span>
                <span>Source: <i>{{ article.source }}</i></span>
            </p>
            <div>
                {% if article.tag.all %}
                    <i title="Tag" class="fas fa-tags"></i>
                    {% for tag in article.tag.all %}
                        <i>{{ tag.title }}</i>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="article_content" id="article_content">
            <textarea style="display: none;">{{ article.content }}</textarea>
        </div>
        <div class="comment_submit">
            <div class="title">
                What do you think about this article?
            </div>
            {% csrf_token %}
            <div class="body">
                <textarea name="" id="" ref="comment_content" rows="10" v-model="comment_content" placeholder="Write down your feelings..."></textarea>
                <button class="submit_comment" @click="add_comment({{ article.nid }})">
                    Comment
                </button>
            </div>
            <div class="footer">
                <p><span>{{ article.look_count }}</span> people view, <span>{{ article.comment_count }}</span> comments</p>
            </div>
        </div>
        <div class="comment_list">
            <ul>
                {% for comment in comment_list %}
                    <li>
                        <div class="left">
                            <img src="{{ comment.user.avatar.url.url }}">
                        </div>
                        <div class="right">
                            <h4>{{ comment.user.username }}</h4>
                            <div class="comment_content">
                                {{ comment.content }}
                            </div>
                            <div class="comment_info">
                                <span>{{ comment.create_time }}</span>
                                <div>
                                    <span @click="comment_digg($event, '{{ comment.nid }}')">Like({{ comment.digg_count }})</span>
                                    <span @click="show_sub_comment_list($event, '{{ comment.user.username }}', '{{ comment.nid }}')">Comment({{ comment.comment_count }})</span>
                                    {% if comment.user == request.user or request.user.is_superuser %}
                                        <span class="delete" @click="delete_sub_comment('{{ comment.nid }}', '{{ article.nid }}', null)">Delete</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="sub_comment_list">
                                {% for sub in comment.sub_comment %}
                                    <div class="sub_comment_item">
                                        <div class="left">
                                            <img src="{{ sub.user.avatar.url.url }}">
                                        </div>
                                        <div class="right">
                                            <h4>{{ sub.user.username }} @ {{ sub.parent_comment.user.username }}</h4>
                                            <div class="sub_comment_content">
                                                {{ sub.content }}
                                            </div>
                                            <div class="sub_comment_info">
                                                <span>{{ sub.create_time }}</span>
                                                <div>
                                                    <span @click="comment_digg($event, '{{ sub.nid }}')">Like({{ sub.digg_count }})</span>
                                                    <span @click="sub_comment_set_placeholder($event, '{{ sub.user.username }}', '{{ sub.nid }}')">Comment</span>
                                                    {% if sub.user == request.user or request.user.is_superuser%} <!-- 如果评论人和当前user一致或着是管理员 才会显示delete按钮 -->
                                                        <span class="delete" @click="delete_sub_comment('{{ sub.nid }}', '{{ article.nid }}', '{{ comment.nid }}')">Delete</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="sub_comment_textarea">
                                    <textarea name="" id="" rows="6" ref="sub_comment_content" placeholder="@Mimi">
                                    </textarea>
                                    <button @click="add_sub_comment($event, '{{ article.nid }}')">Reply</button>
                                </div>
                            </div>
                        </div> <!-- 添加的关闭 div 标签 -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/editor-md/lib/marked.min.js"></script>
    <script src="/static/editor-md/lib/prettify.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/editor-md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function () {
            let editor = editormd.markdownToHTML("article_content", {
                width: "100%",
                height: "100%",
                path: "/static/editor-md/lib/",
            });
        });
    </script>
{% endblock %}
