{% extends 'index.html' %}
{% load my_tag %}
{% block css %}
    <link rel="stylesheet" href="/static/editor-md/css/editormd.css"/>
    <link rel="stylesheet" href="/static/resources/css/article.css">
{% endblock %}

{% block banner %}
    {% banner 'article' article %}
{% endblock %}

{% block main %}

    <div class="article">
    <div class="slider_bar">
        <div class="title">
            Article Directory
        </div>
        <div class="body">
            <p class="H1">How to make hamburger at home? How to make hamburger at home? How to make hamburger at home?</p>
            <p class="H2">Let's eat some healthy salads!</p>
            <p class="H3">h3 title</p>
            <p class="H4">h4 title</p>
            <p class="H5">h5 title</p>
        </div>
    </div>
        <div class="article_title">
            <h2>{{ article.title }}</h2>
            <p>
                <span>Post Time: <i>{{ article.create_date|date:'m/d/Y' }}</i></span>
                <span>Author: <i>{{ article.author }}</i> </span>
                <span>Source: <i>{{ article.source }}</i></span>
            </p>
            <div>
                <i title="Tag" class="fas fa-tags"></i>
                {% for tag in article.tag.all %}
                    <i>{{ tag.title }}</i>
                {% endfor %}
            </div>
        </div>
    <div class="article_content" id="article_content">
        <textarea style="display: none;">{{ article.content }}</textarea>
    </div>
    <div class="comment_submit">
        <div class="title">
            What do you think about this article?
        </div>
        <div class="body">
            <textarea name="" id="" rows="10" placeholder="Write down your feelings..."></textarea>
            <button class="submit_comment">
                Comment
            </button>
        </div>
        <div class="footer">
            <p><span>49</span> people view, <span>18</span> comments</p>
        </div>
    </div>
    <div class="comment_list">
        <ul>
            <li>
                <div class="left">
                    <img src="/static/resources/img/user/1.jpg">
                </div>
                <div class="right">
                    <h4>Vivi Blog</h4>
                    <div class="comment_content">
                        <p>Hello！！</p>
                        <div>
                            <img src="/static/resources/img/login/4.svg">
                            <img src="/static/resources/img/login/5.svg">
                            <img src="/static/resources/img/login/6.svg">
                        </div>
                    </div>
                    <div class="comment_info">
                        <span>Recent</span>
                        <div>
                            <span>Like(8)</span>
                            <span>Comment(2)</span>
                            <span class="delete">Delete</span>
                        </div>
                    </div>

                    <div class="sub_comment_list">
                        <div class="sub_comment_item">
                            <div class="left">
                                 <img src="/static/resources/img/user/2.jpg">
                            </div>
                            <div class="right">
                                <h4>Fang @ Vivi</h4>
                                <div class="sub_comment_content">
                                    Hi！！！！！
                                </div>
                                <div class="sub_comment_info">
                                    <span>5 min ago</span>
                                    <div>
                                        <span>Like(3)</span>
                                        <span>Comment(1)</span>
                                        <span class="delete">Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sub_comment_item">
                            <div class="left">
                                 <img src="/static/resources/img/user/2.jpg">
                            </div>
                            <div class="right">
                                <h4>Fang @ Vivi</h4>
                                <div class="sub_comment_content">
                                    Hi！！！！！
                                </div>
                                <div class="sub_comment_info">
                                    <span>5 min ago</span>
                                    <div>
                                        <span>Like(3)</span>
                                        <span>Comment(1)</span>
                                        <span class="delete">Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="left">
                    <img src="/static/resources/img/user/1.jpg">
                </div>
                <div class="right">
                    <h4>Vivi Blog</h4>
                    <div class="comment_content">
                        <p>Hello！！</p>
                        <div>
                            <img src="/static/resources/img/login/4.svg">
                            <img src="/static/resources/img/login/5.svg">
                            <img src="/static/resources/img/login/6.svg">
                        </div>
                    </div>
                    <div class="comment_info">
                        <span>Recent</span>
                        <div>
                            <span>Like(8)</span>
                            <span>Comment(2)</span>
                            <span class="delete">Delete</span>
                        </div>
                    </div>

                    <div class="sub_comment_list">
                        <div class="sub_comment_item">
                            <div class="left">
                                 <img src="/static/resources/img/user/2.jpg">
                            </div>
                            <div class="right">
                                <h4>Fang @ Vivi</h4>
                                <div class="sub_comment_content">
                                    Hi！！！！！
                                </div>
                                <div class="sub_comment_info">
                                    <span>5 min ago</span>
                                    <div>
                                        <span>Like(3)</span>
                                        <span>Comment(1)</span>
                                        <span class="delete">Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sub_comment_item">
                            <div class="left">
                                 <img src="/static/resources/img/user/2.jpg">
                            </div>
                            <div class="right">
                                <h4>Fang @ Vivi</h4>
                                <div class="sub_comment_content">
                                    Hi！！！！！
                                </div>
                                <div class="sub_comment_info">
                                    <span>5 min ago</span>
                                    <div>
                                        <span>Like(3)</span>
                                        <span>Comment(1)</span>
                                        <span class="delete">Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/editor-md/lib/marked.min.js"></script>
    <script src="/static/editor-md/lib/prettify.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/editor-md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function () {
            let editor = editormd.markdownToHTML("article_content", {
                width: "100%",
                height: "100%",
                path: "/static/editor-md/lib/",
            });
        });
</script>
{% endblock %}