<!DOCTYPE html>
<html lang="en">
{% load my_tag %}
<head>
    <meta charset="UTF-8">
    <title>Vivi_Blog</title>

    <link rel="stylesheet" href="/static/resources/css/reset.css">
    <link rel="stylesheet" href="/static/resources/css/base.css">
    {% block css %}
        <link rel="stylesheet" href="/static/resources/css/index.css">
    {% endblock %}

    <!-- Import style of ElementUI -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <script src="/static/vue/vue.js"></script>

    <!-- Import Component Library -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/resources/css/theme/' + theme + '.css'">
    <nav>
        <div class="left">
            <a href="/">Home</a>
            <a href="/news">News</a>
            <a href="#">Emotion</a>
            <a href="#">Memory</a>
            <a href="#">About Us</a>
            <a href="#">Navigator</a>
        </div>
        <div class="right">
              <img v-show="theme === 'light'" src="/static/resources/img/nav/dark.png" @click="setTheme('dark')" alt="">
              <img v-show="theme === 'dark'" src="/static/resources/img/nav/light.png" @click="setTheme('light')" alt="">

            {% if request.user.username %}
            <el-dropdown>
              <span class="el-dropdown-link">
                {{ request.user.username }}<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item><a href="/backend/">User Center</a></el-dropdown-item>
                <el-dropdown-item><a href="/backend/edit_avatar/">Avatar Setting</a></el-dropdown-item>
                <el-dropdown-item><a href="/backend/add_article/">Post Articles</a></el-dropdown-item>
                <el-dropdown-item><a href="/admin/">Backstage</a></el-dropdown-item>
                <el-dropdown-item><a href="/logout/">Log Out</a></el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}

        </div>
    </nav>

    {% block banner %}
        {% banner 'index' %}
    {% endblock %}

    <main>
        {% block main %}
            <div class="main">
                <div class="left">
                    <div class="recommended_articles card">
                        <div class="title">
                            <h2>Recommend Articles</h2>
                            <div class="switch_article_category">
                                <span :active="this_category === 'recipe'" @click="switch_article_category('recipe')">Recipes</span>
                                <span :active="this_category === 'nutrition'" @click="switch_article_category('nutrition')">Nutrition</span>
                                <span :active="this_category === 'travel'" @click="switch_article_category('travel')">Travel</span>
                                <span :active="this_category === 'reviews'" @click="switch_article_category('reviews')">Reviews</span>
                            </div>
                        </div>
                        <div class="body">
                            <ul v-show="this_category === 'recipe'" class="recommend1">
                                {% for recipe in recipes_list %}
                                    <li>
                                    <div class="left">
                                        <div>
                                            <img src="{{ recipe.cover.url.url }}" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="/article/{{ recipe.nid }}" >{{ recipe.title }}</a></h2>
                                        <p>{{ recipe.abstract }}</p>
                                        <span>{{ recipe.create_date }}</span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <ul v-show="this_category === 'nutrition'" class="recommend2">
                                {% for nutrition in nutrition_list %}
                                    <li>
                                    <div class="left">
                                        <div>
                                            <img src="{{ nutrition.cover.url.url }}" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="/article/{{ nutrition.nid }}" >{{ nutrition.title }}</a></h2>
                                        <p>{{ nutrition.abstract }}</p>
                                        <span>{{ nutrition.create_date }}</span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <ul v-show="this_category === 'travel'" class="recommend1">
                                {% for culinary in culinary_list %}
                                    <li>
                                    <div class="left">
                                        <div>
                                            <img src="{{ culinary.cover.url.url }}" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="/article/{{ culinary.nid }}" >{{ culinary.title }}</a></h2>
                                        <p>{{ culinary.abstract }}</p>
                                        <span>{{ culinary.create_date }}</span>
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>
                            <ul v-show="this_category === 'reviews'" class="recommend2">
                                {% for review in food_reviews_list %}
                                    <li>
                                    <div class="left">
                                        <div>
                                            <img src="{{ review.cover.url.url }}" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="/article/{{ review.nid }}" >{{ review.title }}</a></h2>
                                        <p>{{ review.abstract }}</p>
                                        <span>{{ review.create_date }}</span>
                                    </div>
                                </li>
                                {% endfor %}


                            </ul>
                        </div>
                    </div>

                    <div class="hot_topics card">
                        <div class="title">
                            <h2>Hot Searches</h2>
                            <div>
                                <a href="#">More</a>
                            </div>
                        </div>
                        <div class="body">
                            Main Area
                        </div>

                    </div>
                    <div class="all_articles card">
                        <div class="title">
                            <h2>Blog Articles</h2>
                        </div>
                        <div class="body">
                            <ul>
                                {% for article in article_list %}
                                    <li>
                                    <div class="left">
                                        <div>
                                            <img src="{{ article.cover.url.url }}" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="/article/{{ article.nid }}/">{{ article.title }}</a></h2>
                                        <p>{{ article.abstract }}</p>
                                        <div class="article_info">
                                            <span>
                                                <i class="fa-regular fa-clock"></i>{{ article.create_date|date:'Y-m-d' }}
                                            </span>
                                            <span>
                                                <i class="fa-regular fa-thumbs-up"></i>{{ article.digg_count }}
                                            </span>
                                            <span>
                                                <i class="fa-regular fa-eye"></i>{{ article.look_count }}
                                            </span>
                                            <span>
                                                <i class="fa-regular fa-comments"></i>{{ article.comment_count }}
                                            </span>
                                            <span>
                                                <i class="fa-regular fa-star-half-alt"></i>{{ article.collects_count }}
                                            </span>
                                        </div>
                                        <a href="/article/{{ article.nid }}/" target="_blank">Details</a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="advertisements card">
                        <div class="title">
                            <h2>Advertisements</h2>
                            <a href="#">Apply</a>
                        </div>
                        <div class="body">
                            Main Area
                        </div>
                    </div>
                    <div class="tags card">
                        <div class="title">
                            <h2>Topic Tags</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Foods</li>
                                <li>Drinks</li>
                                <li>Restaurants</li>
                                <li>MakeUp</li>
                                <li>Fashion</li>
                                <li>Beauty</li>
                                <li>Shopping</li>
                                <li>Types</li>
                                <li>Cooking</li>
                                <li>Sports</li>
                                <li>Clothes</li>
                                <li>Jewerly</li>
                                <li>Relax</li>
                                <li>Places</li>
                                <li>Special</li>
                            </ul>
                        </div>
                    </div>
                    <div class="webInfo card">
                        <div class="title">
                            <h2>Website Information</h2>
                        </div>
                        <div class="body">
                            Main Area
                        </div>
                    </div>
                    <div class="links card">
                        <div class="title">
                            <h2>Feedback</h2>
                        </div>
                        <div class="body">
                            Main Area
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>

    <footer>
        <div class="left">
            <p class="thank">Thank For</p>
            <p class="site_info">
                <span><img src="/static/resources/img/footer/amazon.png" alt=""> AWS Cloud </span>
                <span><img src="/static/resources/img/footer/certificate.png" alt=""> Certificate </span>
                <span><img src="/static/resources/img/footer/google.png" alt=""> Google Cloud </span>
            </p>
            <p class="version">
                <span>Version</span>
                <span>1.0.1</span>
            </p>
            <p>Build Time: 2023-7-20</p>
            <p class="legal">
                <a href=""><img src="/static/resources/img/footer/alert.png" alt="">Record Number: xxxx</a>
            </p>
        </div>
        <div class="right">
                <div class="contact">
                    <div>
                        <img class="icon" src="/static/resources/img/footer/wechat.png" alt="">
                        <img class="wechat" src="/static/resources/img/footer/wechat_QR.jpg" alt="">
                    </div>
                     <div>
                         <a href="https://www.linkedin.com/in/meiwei-zhang/">
                             <img class="icon" src="/static/resources/img/footer/linkedin.png" alt="">
                         </a>
                    </div>
                    <div>
                         <a href="#">
                             <img class="icon" src="/static/resources/img/footer/instagram.png" alt="">
                         </a>
                    </div>
                    <div>
                         <a href="#">
                             <img class="icon" src="/static/resources/img/footer/twitter.png" alt="">
                         </a>
                    </div>
                    <div>
                         <a href="#">
                             <img class="icon" src="/static/resources/img/footer/github.png" alt="">
                         </a>
                    </div>
                </div>
                <p>
                    Contact Email: zhang.meiwe@northeastern.edu
                </p>
            </div>
    </footer>
</div>
{% block js %}

{% endblock %}
<script>
    new Vue({
        el:'#app',
        delimiters: ["[[", "]]"], // revise vue syntax configuration to adjust to django
        data:{
            theme: 'light',  // default theme: light
            this_category: 'recipe', // current recommended articles position
        },
        created(){
            this.init_theme()
        },
        methods: {
            // initialize theme
            init_theme() {
                // read the storage information
                let theme = localStorage.getItem('theme')
                if (theme && (theme === 'light' || theme === 'dark')) { // Check only for 'light' or 'dark'
                this.theme = theme
            } else {
                this.theme = 'light' // Fallback to default theme if invalid value
            }
            },
            // set theme
            setTheme(themeName) {
            if (themeName === 'light' || themeName === 'dark') {
                this.theme = themeName
                // keep the theme durable
                localStorage.setItem('theme', themeName)
            }
        },
            // set the function to switch the category of recommended articles
            switch_article_category(categoryName){
                this.this_category = categoryName
            }
        }
    })

    // home page images window
    let menu_img = document.querySelectorAll('.dynamic_shuffle')
    // get the menu length
    let menu_length = menu_img.length
    let index = 0;
    let timer = null;
    // reset the timer
    clearInterval(timer)
    // set img timer
    timer = setInterval(()=>{
        index ++
        if (index == menu_length){
            index = 0 // traverse at the last picture, initialize to 0
        }
        // reset the img style
        for (let i of menu_img) {
        i.style.opacity = 0
    }
        menu_img[index].style.opacity = 1
    }, 2000)
    
</script>

</body>
</html>