{% extends 'index.html' %}
{% load my_tag my_filter %}

{% block css %}
    <link rel="stylesheet" href="/static/resources/css/moods.css">
{% endblock %}
{% block main %}
    <div class="main">
        <el-dialog
          title="Post Mood"
          :visible.sync="mood_dialogVisible"
          width="50%">
          <div class="add_mood_content body">
              <div>
                  <label for="mood_add_name">Username</label>
                  <el-input ref="mood_add__name" id="mood_add_name" v-model="mood_add.name" placeholder="Please enter your username"></el-input>
              </div>
              <div>
                  <label for="">Avatar</label>
                    <ul class="avatar_list">
                        {% for avatar in avatar_list %}
                            <li>
                                <el-radio v-model="mood_add.avatar_id" :label="{{ avatar.nid }}">
                                    <img src="{{ avatar.url.url }}">
                                </el-radio>
                            </li>
                        {% endfor %}
                    </ul>
              </div>
              <div>
                  <label for="mood_add_content">Mood Content</label>
                  <el-input ref="mood_add__content" id="mood_add_content" v-model="mood_add.content"  type="textarea" :rows="4" placeholder="Please enter your content"></el-input>
              </div>
              <div>
                  <label for="mood_add_drawing">Images</label>
                  <el-input id="mood_add_drawing" v-model="mood_add.drawing" type="textarea" :rows="4" placeholder="Add images; Multiple images please click 'enter' to divide. "></el-input>
              </div>
               <div class="show_drawing" v-show="mood_show_drawing">
                     <img v-for="(item, index) in mood_show_drawing" :src="item" :key="index" alt="">
                </div>

          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="mood_dialogVisible = false">Cancel</el-button>
            <el-button type="primary" @click="mood_add_method">Post</el-button>
          </span>
        </el-dialog>
        <el-dialog
          title="Reply Mood"
          :visible.sync="mood_comment_dialogVisible"
          width="40%">
        <div class="add_mood_content add_mood_comment">
            <div>
                  <label for="mood_comment_add_name">Username</label>
                  <el-input ref="mood_comment_add__name" id="mood_comment_add_name" v-model="mood_add_comment.name" placeholder="Please enter your username"></el-input>
              </div>
            <div>
                  <label for="mood_comment_add_content">Mood Content</label>
                  <el-input ref="mood_comment_add__content" id="mood_comment_add_content" v-model="mood_add_comment.content"  type="textarea" :rows="4" placeholder="Please enter your content"></el-input>
              </div>

        </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="mood_comment_dialogVisible = false">Cancel</el-button>
            <el-button type="primary" @click="mood_comment_add_method">Reply</el-button>
          </span>
        </el-dialog>
        <el-button @click="mood_dialogVisible = true" class="add_mood">Post Moods</el-button>
        {% for mood in mood_list %}
          <div class="mood">
            <div class="left">
                <img src="{{ mood.avatar.url.url }}">
            </div>
            <div class="right">
                <h3 class="name">{{ mood.name }}</h3>
                <p class="content">{{ mood.content }}</p>
                <div class="drawing">
                    {% generate_drawing mood.drawing %}
                </div>
                <div class="info">
                    <span class="date">
                        {% with mood.addr|json_loads as addr %}
                        {{ mood.create_date }}
                            <img class="addr_img" src="/static/resources/img/user/location.png">
                            <i class="addr_info">
                            {% if addr.ct == "中国" %}
                                {% if addr.prov == "内网" %}
                                    中国-内网
                                {% else %}
                                    {{ addr.prov }}-{{ addr.city }}
                                {% endif %}
                            {% else %}
                                {{ addr.ct }}
                            {% endif %}
                            </i>
                    {% endwith %}
                    </span>
                    <span class="three">
                        <span>Like ({{ mood.digg_count }})</span>
                        <span @click="mood_show_comment_list($event)" class="mood_comment_num">Comment ({{ mood.comment_count }})</span>
                        {% if request.user.is_superuser %}
                            <span @click="mood_delete('{{ mood.nid }}', $event)" class="delete">Delete</span>
                        {% endif %}
                    </span>
            </div>

            <ul class="sub_comment_list">
                {% for comment in mood.moodcomment_set.all %}
                     <li>
                    <div class="left">
                         <img src="{{ comment.avatar.url.url }}">
                    </div>
                    <div class="right">
                        <h4 class="name">{{ comment.name }}</h4>
                        <p class="content">{{ comment.content }}</p>
                        <div class="info">
                            <span class="date">
                                {{ comment.create_date }}
                            </span>
{#                            <img class="addr_img" src="/static/resources/img/user/location.png">#}
{#                            <i class="addr_info">{{ mood.addr.prov }}-{{ mood.addr.city }}</i>#}
                            <span class="three">
                                <span>Like ({{ comment.digg_count }})</span>
                                {% if request.user.is_superuser %}
                                    <span class="delete" @click="mood_sub_comment_delete('{{ comment.nid }}', '{{ mood.nid }}', $event)">Delete</span>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </li>
                {% endfor %}

                <el-button type="primary" @click="mood_comment_dialogVisible_show('{{ mood.nid }}')" class="rep_mood" plain>Reply this mood</el-button>
            </ul>

        </div>

    </div>
        {% endfor %}

    </div>

{% endblock %}